{% extends "base.html" %}
{% block content %}

<h2>{{ quiz.title }}</h2>

<a href="/add_question/{{ quiz.id }}">Add Question</a>
<a href="/take_quiz/{{ quiz.id }}">Take Quiz</a>
<br><br>
<h3>Questions:</h3>

{% for question in quiz.questions %}
    <p><strong>{{ question.question_text }}</strong></p>
    <ul>
        <li>A. {{ question.option_a }}</li>
        <li>B. {{ question.option_b }}</li>
        <li>C. {{ question.option_c }}</li>
        <li>D. {{ question.option_d }}</li>
    </ul>
{% else %}
    <p>No questions added yet.</p>
{% endfor %}

<br>
<a href="/dashboard">Back to Dashboard</a>

{% endblock %}