{% extends "base.html" %}
{% block content %}

<h2>Add Question</h2>

<form method="POST">

    <input type="text" name="question_text" placeholder="Question" required><br><br>

    <input type="text" name="option_a" placeholder="Option A" required><br><br>
    <input type="text" name="option_b" placeholder="Option B" required><br><br>
    <input type="text" name="option_c" placeholder="Option C" required><br><br>
    <input type="text" name="option_d" placeholder="Option D" required><br><br>

    <select name="correct_answer" required>
        <option value="">Select Correct Answer</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select><br><br>

    <button type="submit">Add Question</button>

</form>

{% endblock %}