{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-sm p-4">
            <h3 class="text-center mb-4">Login</h3>

            <form method="POST">
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <button class="btn btn-dark w-100">
                    Login
                </button>
            </form>

            <div class="text-center mt-3">
                <a href="{{ url_for('main.register') }}">Create Account</a>
            </div>

        </div>

    </div>
</div>

{% endblock %}